/********************COLORSS*****************/

.mybg-red {
    background-color: red;
}

.mybg-blue {
    background-color: #1b72e8;
}

.mybg-green {
    background-color: green;
}

.mybg-black {
    background-color: #222;
}

/***********************MAIN*******************/
.myside-bar {
    height: calc(100vh - 67.667px);
    background-color: #222;
}

@media screen and (max-width:983px) {
    .myside-bar {
        height: calc(100vh - 66px);
    }
}

.my-fs-side {
    font-size: 0.8rem;
    text-align: center;
}

.my-main {
    height: 90vh;
}

.my-fs-main {
    font-size: 0.8rem;
    vertical-align: middle;
}

.mybackground {
    background-image: url(../img/sidebar-bg.png);
}

#offcanvasScrolling {
    width: 100%;
}

@media screen and (min-width:768px) {
    #offcanvasScrolling {
        width: 60%;
    }
}

.my-fs-features {
    font-size: 0.8rem;
}

.list-group-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.mybg-img {
    
}